<div class="signin_paper_wrapper">
  <div class="signin_paper"> 
    <div class="signin_paper_header">   
      <h2>Reset your password</h2>
    </div>
    <div id="content">
      <div id="form_container">
        <%= form_tag users_update_password_url do %>
          <%= hidden_field_tag :reset_token, @user.reset_token %>
          <p><%= label_tag :password %></p>
          <p><%= password_field_tag :password %></p>
          <p><%= label_tag :password_confirmation %></p>
          <p><%= password_field_tag :password_confirmation %></p>
          <p><%= submit_tag "Save" %>
        <% end %>
      </div>
    </div>
  </div>
</div>